{% if fields.title and fields.aboutus %}
    <section class="b-About-us" id="Toaboutus">
        <h1 class="b-About-us__title">{{fields.title}}</h1>
            {% for item in fields.aboutus %}
                {% if loop.index % 2 == 0 %}
                    <div class="b-About-us__flex b-About-us__flex--reverse">
                        <div class="b-About-us__flex-text">
                            <h1 class="b-About-us__flex-text-big">{{item.text.big}}</h1>
                            <p class="b-About-us__flex-text-small">
                                <span class="b-About-us__flex-text-small--bold">{{item.text.small.bold}}</span>
                                {{item.text.small.normal}}
                            </p>
                        </div>
                        <img class="b-About-us__flex-image b-About-us__flex-image--nobackground" src="{{item.image}}" width="618" height="561" alt="Bulding">
                    </div>
                {% else %}
                    <div class="b-About-us__flex">
                        <div class="b-About-us__flex-text">
                            <h1 class="b-About-us__flex-text-big">{{item.text.big}}</h1>
                            <p class="b-About-us__flex-text-small">
                                <span class="b-About-us__flex-text-small--bold">{{item.text.small.bold}}</span>
                                {{item.text.small.normal}}
                            </p>
                        </div>
                        <img class="b-About-us__flex-image" src="{{item.image}}" width="695" height="592" alt="Bulding">
                    </div>
                {% endif %}
            {% endfor %}
    </section>
{% endif %}
