<div class="b-CarouselRepeated">
  <div class="b-CarouselRepeated__item">
    <div class="b-CarouselRepeated__top">
      <div class="b-CarouselRepeated__title">{{ catname}}</div> 
      <a class="b-CarouselRepeated__button -desktop" title="View All" href="{{catlink}}">View All</a> 
    </div>
    {% include "modules/CarouselProducts/CarouselProducts.module.twig" with {
      textLayout: "titleText",
      imageWidthNormal: 367,
      imageHeightNormal: 287,
      imageWidthSmall: 268,
      imageHeightSmall: 287,
    }%}
    <a class="b-CarouselRepeated__button -mobile" title="View All" href="{{catlink}}">View All</a> 

    {% if fields.add_scrollbar == 1 %} 
    <div class="b-CarouselRepeated__scrollBox">
      <div class="b-CarouselRepeated__scroll" >
      <picture>
        <source srcset="{{theme.link}}/static/img/scrollbar.svg" media="(min-width: 611px)" >
        <source srcset="{{theme.link}}/static/img/scrollbar-m.svg}">
        <img class="b-CarouselRepeated__scrollbar"  src="{{theme.link}}/static/img/scrollbar.svg" alt=""/>
      </picture>
        
        <div class="b-CarouselRepeated__ear" >
          <img src="{{theme.link}}/static/img/ear.svg" alt=""/>
        </div>
        
      </div>
    </div>
    {% endif %}
  </div>
  {% if fields.add_scroll_top == 2 %} 
    {% include "modules/ScrollTop/ScrollTop.module.twig"%}
  {% endif %}
  <img class="b-CarouselRepeated__bottomDecorator"   src="{{theme.link}}/static/img/pizza-decorator.svg" alt=""/>
</div>