<div class="m-BurgerMenu">
	<img src="{{theme.link}}/static/img/burger-menu-open.svg" alt="Open menu" class="m-BurgerMenu__open">
	<div class="m-BurgerMenu__slide">
		<div class="m-BurgerMenu__top">
			<a href="/Tradedoubter-PVN">
				<img src="{{theme.link}}/static/img/logo-white-blue.svg" alt="Tradedoubter PVN" class="m-HeaderPrimary__logo"/>
			</a>
			<img src="{{theme.link}}/static/img/burger-menu-close.svg" alt="Open menu" class="m-BurgerMenu__close">
		</div>
		<div class="m-BurgerMenu__container">
			<ul class="m-BurgerMenu__menu">
				{% for item in nav.burger.items %}
					<li>
						<a class="m-BurgerMenu__item" href="{{item.url}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
			<div class="m-BurgerMenu__socials">
				{% for item in socialmedia %}
					<a href="{{item.social_media_adress.url}}" title="{{item.social_media_adress.title}}" class="m-BurgerMenu__socialItem">
						<img src="{{item.social_media_icon}}" alt="{{item.social_media_adress.title}}">
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
