{% if fields.page %}
	<section class="b-News">
		<div class="b-News__pages">
			{% for page in fields.page %}
				<div class="b-News__pages-page">
					<div class="b-News__pages-page-container">
						{% for item in page.item %}
							<div class="b-News__pages-page-item">
								<img class="b-News__pages-page-item-image" src="{{item.image}}" alt="News 1">
								<div class="b-News__pages-page-item-text">
									<h1 class="b-News__pages-page-item-text-big">{{item.title}}</h1>
									<p class="b-News__pages-page-item-text-small">{{item.text}}</p>
									<div class="b-News__pages-page-item-text-more">
										<p class="b-News__pages-page-item-text-more-date">{{item.date}}</p>
										<a href="#" class="b-News__pages-page-item-text-more-link">{{item.link}}</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="b-News__buttons">
			<a class="b-News__buttons-item">Previous page</a>
			<a class="b-News__buttons-item b-News__buttons-item--blue">Next page</a>
		</div>
	</section>
{% endif %}