{% if fields.title and fields.slide %}
	<section class="b-References" id="Toreferences">
		<img class="b-References__image" src="{{theme.link}}/static/img/WAVE-gray.svg" width="1920" height="295.67" alt="WAVE-gray">
		<div class="b-References__container">
			<div class="b-References__title">
				<h1 class="b-References__title-big">{{fields.title.big}}</h1>
				<p class="b-References__title-small">{{fields.title.small}}</p>
			</div>

			<div class="b-References__slider swiper">
				<div class="b-References__slider-wrapper swiper-wrapper">
					{% for slide in fields.slide %}
						<div class="b-References__slider-slide swiper-slide">
							<div class="b-References__slider-slide-container">
								{% for item in slide.item %}
									{% if loop.index > 1 %}
										<div class="b-References__slider-slide-item b-References__slider-slide-item--nodisplay">
											<div class="b-References__slider-slide-item-image">
												<img class="b-References__slider-slide-item-image-one" src="{{item.image}}" width="158" height="120" alt="logo of Empik">
												<img class="b-References__slider-slide-item-image-two" src="{{theme.link}}/static/img/cudzyslow.svg" alt="cudzyslow">
											</div>
											<p class="b-References__slider-slide-item-text">{{item.text}}</p>
										</div>
									{% else %}
										<div class="b-References__slider-slide-item">
											<div class="b-References__slider-slide-item-image">
												<img class="b-References__slider-slide-item-image-one" src="{{item.image}}" width="158" height="120" alt="logo of Empik">
												<img class="b-References__slider-slide-item-image-two" src="{{theme.link}}/static/img/cudzyslow.svg" alt="cudzyslow">
											</div>
											<p class="b-References__slider-slide-item-text">{{item.text}}</p>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="b-References__slider-pagination swiper-pagination"></div>
			</div>
		</div>
	</section>
{% endif %}
