{% if fields.title and fields.slide1 and fields.slide2 and fields.slide3 and fields.slide4 %}
	<section class="benefits">
		<img class="benefits__image" src="{{theme.link}}/static/img/WAVE-black.svg" alt="WAVE-black">
		<div class="benefits__container">
			<h1 class="benefits__title">{{fields.title}}</h1>

			<div class="benefits__slider swiper">
				<div class="benefits__slider-wrapper swiper-wrapper">
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide1.image}}" alt="chart">
						<p class="benefits__slider-slide-text">{{fields.slide1.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide2.image}}" alt="no ads">
						<p class="benefits__slider-slide-text">{{fields.slide2.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide3.image}}" alt="clock">
						<p class="benefits__slider-slide-text">{{fields.slide3.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide4.image}}" alt="computer">
						<p class="benefits__slider-slide-text">{{fields.slide4.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide4.image}}" alt="computer">
						<p class="benefits__slider-slide-text">{{fields.slide4.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide1.image}}" alt="chart">
						<p class="benefits__slider-slide-text">{{fields.slide1.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide3.image}}" alt="clock">
						<p class="benefits__slider-slide-text">{{fields.slide3.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide2.image}}" alt="no ads">
						<p class="benefits__slider-slide-text">{{fields.slide2.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide3.image}}" alt="clock">
						<p class="benefits__slider-slide-text">{{fields.slide3.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide2.image}}" alt="no ads">
						<p class="benefits__slider-slide-text">{{fields.slide2.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide4.image}}" alt="computer">
						<p class="benefits__slider-slide-text">{{fields.slide4.text}}</p>
					</div>
					<div class="benefits__slider-slide swiper-slide">
						<img class="benefits__slider-slide-image" src="{{fields.slide1.image}}" alt="chart">
						<p class="benefits__slider-slide-text">{{fields.slide1.text}}</p>
					</div>
				</div>
				<div class="benefits__slider-pagination swiper-pagination"></div>
			</div>
		</div>
	</section>
{% endif %}